schema.xsd

<?xml version="1.0" encoding="UTF-8"?>
<schema xmlns="http://www.w3.org/2001/XMLSchema" targetNamespace="http://www.example.org/pennphoto" xmlns:tns="http://www.example.org/pennphoto" elementFormDefault="qualified">

    <complexType name="studentType">
    	<complexContent>
    		<extension base="tns:personType">
    		<sequence>
    			<!--  More here -->
    			<element name="currentyear" type="int"></element>
    			<element name="major" type="string"></element>
    		</sequence>
    		</extension>
    	</complexContent>
    </complexType>
	
	
    <complexType name="professorType">
    	<complexContent>
    		<extension base="tns:personType">
    		<sequence>
    			<!--  More here -->
    			<element name="room_no" type="string"></element>
    			<element name="reaserchArea" type="string"></element>
    			<element name="title" type="string"
    				maxOccurs="unbounded" minOccurs="1">
    			</element>
    		</sequence>
    		</extension>
    	</complexContent>
    </complexType>

	
    <complexType name="personType">
    	<sequence>
    		<element name="userid" type="int">
    		</element>
    		<element name="first_name" type="string"></element>
    		<element name="last_name" type="string"></element>
    		<element name="email" type="string"></element>
    		<element name="birth_date" type="date"></element>
    		<element name="gender" type="string"></element>
    		<element name="address" type="string" maxOccurs="unbounded"
    			minOccurs="0">
    		</element>
    		<element name="password" type="string"></element>
    	</sequence>
    </complexType>
      

    <complexType name="photoType">
    	<sequence>
    		<element name="pid" type="int" maxOccurs="1" minOccurs="1"></element>
    		<element name="url" type="string"></element>
    		<element name="ownerid" type="int" maxOccurs="1"
    			minOccurs="1">
    		</element>
    	</sequence>
    </complexType>


    <complexType name="circleType">
    	<sequence>
    		<element name="circleid" type="int"></element>
    		<element name="circle_name" type="string"></element>
    		<element name="ownerid" type="int"
    			maxOccurs="unbounded" minOccurs="1">
    		</element>
    	</sequence>
    </complexType>
	
	
    <complexType name="adviseType">
    	<sequence>
    		<element name="stuid" type="int"></element>
    		<element name="staffid" type="int"></element>
    		<element name="year" type="int"></element>
    	</sequence>
    </complexType>

	
    <complexType name="phototagType">
    	<sequence>
    		<element name="pid" type="int"></element>
    		<element name="userid" type="int"></element>
    		<element name="keywords" type="string"></element>
    	</sequence>
    </complexType>

	
    <complexType name="rateType">
    	<sequence>
    		<element name="userid" type="int"></element>
    		<element name="pid" type="int"></element>
    		<element name="score" type="double"></element>
    	</sequence>
    </complexType>


    <complexType name="acdemicInstitutionType">
    	<sequence>
    		<element name="instid" type="int"></element>
    		<element name="name" type="string"></element>
    	</sequence>
    </complexType>

	
    <complexType name="friendsType">
    	<sequence>
    		<element name="userid" type="int"></element>
    		<element name="friend_id" type="int"></element>
    		<element name="circleid" type="int"></element>
    	</sequence>
    </complexType>


    <complexType name="photoviseveryType">
    	<sequence>
    		<element name="pid" type="int"></element>
    		<element name="isEveryone" type="string"></element>
    	</sequence>
    </complexType>

	
    <complexType name="photoviscircleType">
    	<sequence>
    		<element name="pid" type="int"></element>
    		<element name="circleid" type="int"></element>
    	</sequence>
    </complexType>

	
    <complexType name="photovisfriendType">
    	<sequence>
    		<element name="pid" type="int"></element>
    		<element name="userid" type="int"></element>
    	</sequence>
    </complexType>

	
    <complexType name="institutionattType">
    	<sequence>
    		<element name="userid" type="int"></element>
    		<element name="instid" type="int"></element>
    		<element name="start_time" type="date"></element>
    		<element name="finish_time" type="date"></element>
    	</sequence>
    </complexType>

	
    <complexType name="interestType">
    	<sequence>
    		<element name="interestid" type="int"></element>
    		<element name="interestname" type="string"></element>
    	</sequence>
    </complexType>

	
    <complexType name="userinterestType">
    	<sequence>
    		<element name="userid" type="int"></element>
            <element name="interestid" type="int"></element>
        </sequence>
    </complexType>
	
	<element name="PennPhoto">
		<complexType>
			<sequence>
				<element name="person" type="tns:personType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="photo" type="tns:photoType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="circle" type="tns:circleType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="advise" type="tns:adviseType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="phototag" type="tns:phototagType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="rate" type="tns:rateType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="acdemicInstitution" type="tns:acdemicInstitutionType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="friends" type="tns:friendsType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="photovisevery" type="tns:photoviseveryType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="photoviscircle" type="tns:photoviscircleType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="photovisfriend" type="tns:photovisfriendType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="institutionatt" type="tns:institutionattType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="interest" type="tns:interestType" minOccurs="0" maxOccurs="unbounded"/>
				<element name="userinterest" type="tns:userinterestType" minOccurs="0" maxOccurs="unbounded"/>
			</sequence>
		</complexType>
		<key name="PK_person">
                  <selector xpath=".//person"/>
                  <field xpath="userid"/>
        </key>
		<key name="PK_photo">
                  <selector xpath=".//photo"/>
                  <field xpath="pid"/>
        </key>
		<key name="PK_circle">
                  <selector xpath=".//circle"/>
                  <field xpath="circleid"/>
        </key>
		<key name="PK_advise">
                  <selector xpath=".//person"/>
                  <field xpath="stuid"/>
				  <field xpath="staffid"/>
				  <field xpath="year"/>
        </key>
		<key name="PK_phototag">
                  <selector xpath=".//phototag"/>
                  <field xpath="pid"/>
				  <field xpath="userid"/>
        </key>
		<key name="PK_rate">
                  <selector xpath=".//rate"/>
                  <field xpath="pid"/>
				  <field xpath="userid"/>
        </key>
		<key name="PK_acdemicInstitution">
                  <selector xpath=".//acdemicInstitution"/>
                  <field xpath="instid"/>
        </key>
		<key name="PK_friends">
                  <selector xpath=".//friends"/>
                  <field xpath="userid"/>
				  <field xpath="friend_id"/>
				  <field xpath="circleid"/>
        </key>
		<key name="PK_photovisevery">
                  <selector xpath=".//photovisevery"/>
                  <field xpath="pid"/>
				  <field xpath="isEveryone"/>
        </key>
		<key name="PK_photoviscircle">
                  <selector xpath=".//photoviscircle"/>
                  <field xpath="pid"/>
				  <field xpath="circleid"/>
        </key>
		<key name="PK_photovisfriend">
                  <selector xpath=".//photovisfriend"/>
                  <field xpath="pid"/>
				  <field xpath="circleid"/>
        </key>
		<key name="PK_institutionatt">
                  <selector xpath=".//institutionatt"/>
                  <field xpath="userid"/>
				  <field xpath="instid"/>
        </key>
		<key name="PK_interest">
                  <selector xpath=".//interest"/>
                  <field xpath="interestid"/>
        </key>
		<key name="PK_userinterest">
                  <selector xpath=".//userinterest"/>
                  <field xpath="userid"/>
				  <field xpath="interestid"/>
        </key>
		
		<keyref name="FK_photo_ownerid" refer="tns:PK_person">
			<selector xpath=".//photo"/>
			<field xpath="ownerid"/>
		</keyref> 
		
		<keyref name="FK_circle_ownerid" refer="tns:PK_person">
			<selector xpath=".//circle"/>
			<field xpath="ownerid"/>
		</keyref> 
		
		<keyref name="FK_advise_stuid" refer="tns:PK_person">
			<selector xpath=".//advise"/>
			<field xpath="stuid"/>
		</keyref> 
		
		<keyref name="FK_advise_staffid" refer="tns:PK_person">
			<selector xpath=".//advise"/>
			<field xpath="staffid"/>
		</keyref> 
		
		<keyref name="FK_rate_pid" refer="tns:PK_photo">
			<selector xpath=".//rate"/>
			<field xpath="pid"/>
		</keyref> 
		
		<keyref name="FK_rate_userid" refer="tns:PK_person">
			<selector xpath=".//circle"/>
			<field xpath="userid"/>
		</keyref> 
		
		<keyref name="FK_friends_userid" refer="tns:PK_person">
			<selector xpath=".//friends"/>
			<field xpath="userid"/>
		</keyref> 
		
		<keyref name="FK_friends_friend_id" refer="tns:PK_person">
			<selector xpath=".//friends"/>
			<field xpath="friend_id"/>
		</keyref> 
		
		<keyref name="FK_friends_circleid" refer="tns:PK_circle">
			<selector xpath=".//friends"/>
			<field xpath="circleid"/>
		</keyref>
		
		<keyref name="FK_photovisevery_pid" refer="tns:PK_photo">
			<selector xpath=".//photovisevery"/>
			<field xpath="pid"/>
		</keyref>
		
		<keyref name="FK_photoviscircle_pid" refer="tns:PK_photo">
			<selector xpath=".//photoviscircle"/>
			<field xpath="pid"/>
		</keyref>
		
		<keyref name="FK_photoviscircle_circleid" refer="tns:PK_circle">
			<selector xpath=".//photoviscircle"/>
			<field xpath="circleid"/>
		</keyref>
		
		<keyref name="FK_photovisfriend_pid" refer="tns:PK_photo">
			<selector xpath=".//photovisfriend"/>
			<field xpath="pid"/>
		</keyref>
		
		<keyref name="FK_photovisfriend_userid" refer="tns:PK_person">
			<selector xpath=".//photovisfriend"/>
			<field xpath="userid"/>
		</keyref>
		
		<keyref name="FK_institutionatt_userid" refer="tns:PK_person">
			<selector xpath=".//institutionatt"/>
			<field xpath="userid"/>
		</keyref>
		
		<keyref name="FK_institutionatt_instid" refer="tns:PK_acdemicInstitution">
			<selector xpath=".//institutionatt"/>
			<field xpath="instid"/>
		</keyref>
		
		<keyref name="FK_userinterest_userid" refer="tns:PK_person">
			<selector xpath=".//userinterest"/>
			<field xpath="userid"/>
		</keyref>
		
		<keyref name="FK_userinterest_interestid" refer="tns:PK_interest">
			<selector xpath=".//userinterest"/>
			<field xpath="interestid"/>
		</keyref>
	</element>
</schema>